<div class="head">
</div>
<!--
<section class="contact" >
    <div class="content">
        <h2><u>Contact Us</u></h2>
        <hr>
        <p>We are here to help you, So please don't hegitate to contact to us . 
            <p>
                <p>We are eager to solve your Problems.</p>
    </div>
    <div class="container">
        <div class="contactinfo">
            <div class="box">
                <div class="icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h3>Address</h3>
                    <p>
                       <b> B-15 Nishant park housing complex,<br>kakrola place, dwarka,<br>New Delhi-110074.</b>
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h3>Toll Free Number</h3>
                    <b><p>1906</p></b>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h3>Email</h3>
                   <b><p>alka@gmail.com</p></b>
                </div>
            </div>
            
        </div>
        <div class="image">
          <img src='../../assets/Images/contact.jpg' alt="" width="500" height="350">
    </div>
        
    </div>
</section>

-->

<div class="container">
    <div class="content">
        <h2><u>Contact Us</u></h2>
        <hr>
        <p>We are here to help you, So please don't hegitate to contact to us .
        <p>
        <p>We are eager to solve your Problems.</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="body">
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>
                                <b> B-15 Nishant park housing complex,<br>kakrola place, dwarka,<br>New
                                    Delhi-110074.</b>
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <h3>Toll Free Number</h3>
                            <b>
                                <p>1906</p>
                            </b>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <h3>Email</h3>
                            <b>
                                <p>alka@gmail.com</p>
                            </b>
                        </div>
                    </div>

                
            </div>
        </div>
        <div class="column">
            <div class="body1">
                <img src='../../assets/contact.jpg' style="height:350px; width: 480px;">
            </div>
        </div>

    </div>
</div>