
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>

<body>

    
    <div class="header">
        </div>
    <section class="slides-container">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">

            <div class="slide first">
                <img src='../assets/image1.png' alt="">
            </div>
            <div class="slide">
                <img src='../assets/k.png'alt="">
            </div>
            <div class="slide">
                <img src='../assets/kanban1.png' alt="">
            </div>

           
        </div>
        <div class="nevigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
        </section>
        <section id="connection">

        

            <div class="boxer">

                <div class="box" data-aos="flip-right" data-aos-duration="2000">

                    
                    <button (click)="project($event)" value="create a project" type="button" class=" btn-success">Create A Project
                    </button>
                </div>
                     
                      
                </div>
                
                </section>

                <footer class="bg-primary navbar-dark text-center text-lg-start">
                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(48, 23, 138, 0.2);">
                      © 2020 Copyright:All Rights Reserved
                      <!-- <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
                    </div>
                    <!-- Copyright -->
                  </footer>
                  <!-- <app-project></app-project> -->
        </body>
        </html>
        
